.page{
    height: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: blueviolet;
    color: white;
    font-size:  34px;
  }
  a{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: white;
  }
  .btn { 
    height: 30px;
    width: 200px;
  }
  .btncnt{
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
  
  h1{
    color: white;
           align-items: center; 
           justify-content: center;
  }
  .fig {
    text-align: center;  
   }